@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body,html{
    width:100%;
    height:100%;
}
body{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.container{
    max-width: 900px;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 0px 30px  #00000026;
}
.top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-left: 10%;
    padding-top: 50px;
}
.user{
    width: fit-content;
}
.green-bar{
    width: 8rem;
    height: 22rem;
    background: rgba(64,255,223,0.95);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.user-circle{
    width: 14rem;
    aspect-ratio: 1 / 1;
    background: rgba(43,45,48,0.95);
    position: absolute;
    border-radius: 50%;
    top: 10%;
    box-shadow: rgba(50,50,93,0.15) 50px 0px 80px -20px, rgba(0,0,0,0.2)30px 0px 40px -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.under-green{
    width: 80%;
    height: 80%;
    background:rgba(64,255,223,0.95);
    border-radius: 50%;
    box-shadow: rgba(50,50,93,0.15) 20px 0px 50px -20px, rgba(0,0,0,0.2)30px 0px 40px -30px;


}
.under-green img{
    width: 100%;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}
.under-green img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
}
.under-green img:active {
    box-shadow: none;
    border: 5px solid darkgoldenrod;
}
.name{
    margin-left: 10%;
    margin-top: -4rem;
}
.name h1{
    font-size: 60px;
    line-height: 75px;
    font-weight: 800;
    color: rgba(15,76,69,0.95);
}
.name p{
    font-size: 30px;
    color: rgba(38,43,44,0.95);

}
.icon{
    display: flex;
    gap: 35px;
    margin-top: 1.5rem;

}
.icon a{
    width: 28px;
    aspect-ratio: 1 / 1;
    background: rgba(64,255,223,0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.icon a:hover {
    transform: scale(2.5);}
.icon a i{
    color: black;

}

.button{
    width: 100%;

    min-height: 60rem;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;

}
.button-left{
    width: 35%;
    padding-top: 4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 2rem;


}
.button-left-sec{
    width: 80%;
    margin-bottom: 2rem;

}
.head{
    width: 100%;
    padding: 15px 0 15px 25px;
    background: rgba(15,76,69,0.95);
    border-radius: 30px;
    box-shadow: 10px 5px 25px -10px #00000026;

}
.head h3{
    font-size: 18px;
    color: white;

}

.head:hover {
    transform: scale(1.05);
    border: 5px solid rgba(64, 255, 223, 0.95);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}



.detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 1.5rem 0 4rem 0;
}

.detail1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    text-decoration: none;
    color: rgba(16,46,38,0.95);

}
.detail h4
{
    font-size: 14px;
    margin-bottom: 8px;

}
.percent
{
    width: 100%;
    background: rgba(15,76,69,0.95);
    border-radius: 10px;
    overflow: hidden;

}
.percent hr {
    width: 90%;
    height: 10px;
    border: none;
    background: rgba(64,255,223,0.95);
    border-radius: 5px;
}
.html hr {
    width: 90%;
}
.css hr{
    width: 80%;
}
.c hr{
    width: 70%;
}


.button-right{
    width: 65%;
    height: 105%;
    position: relative;
    background: rgba(64,255,223,0.95);
    margin-top: -5.3%;
    border-radius: 100px 0 0 0;
    padding: 4rem 5% 0rem 5%;
    margin-left: 2rem;

}
.right-heading{
    background: rgba(15,76,69,0.95);
    padding: 10px 15px;
}
.right-heading h3 {
    color: white
}
.right-heading h3 i{
    margin-right: 10px;
}
.right-detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    margin: 1.5rem 0 3rem 0;
}
.right-detail p{
    color: rgba(49,54,55,0.95);
    font-size: 14px;


}

.right-detail h4{
    font-size: 20px;
}
.right-detail ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
}
.right-detail li {
    color: rgba(49,54,55,0.95);
    font-size: 14px;
    line-height: 1.5;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

th, td {
    padding: 12px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:hover {
    background-color: rgba(16,46,38,0.95);
    color: white;
}
tr:hover td {
    background-color: rgba(16,46,38,0.95);
}

.footer {
    width: 100%;
    background-color: rgba(15,76,69,0.95);
    color: white;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1);
}
.footer-left, .footer-center, .footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-left p {
    margin: 15px;
    font-size: 10px;
}

.footer-center p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;

}

.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.footer2{
    margin: 15px;
    font-size: 15px;

}

.back-to-top {
    background-color: #fff;
    color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;;
}

.back-to-top:hover {
    background-color: #ddd;
    transform: scale(1.1);
}

@media (max-width: 750px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .top {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .user-circle {
        position: relative; /* Verander naar relative voor dynamische plaatsing */
        margin-top: 2rem;   /* Voeg wat extra ruimte toe boven de foto */
        top: auto;          /* Negeer de absolute positionering */
    }

    .name {
        margin-top: 1rem;
        margin-left: 0;
    }
    .button {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .button-left, .button-right {
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    .button-right {
        margin-top: 0;
        border-radius: 0;
    }
    .name h1 {
        font-size: 35px;
        line-height: 45px;
    }
    .name p {
        font-size: 20px;
    }
    .icon {
        gap: 15px;
        margin-top: 1rem;

    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 10px 0;
    }

}

@media (max-width: 550px) {
    .green-bar {
        width: 5rem;
        height: 12rem;
    }

    .user-circle {
        width: 8rem;
    }

    .name h1 {
        font-size: 28px;
        line-height: 35px;
    }

    .name p {
        font-size: 18px;
    }

    .button {
        flex-direction: column;
    }

    .button-left, .button-right {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .button-right {
        border-radius: 0;
        padding: 2rem 1rem;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
    }

    .footer-left, .footer-center, .footer-right {
        margin: 0.5rem 0;
    }
}
header {
    width: 100%;
    background-color: rgba(15,76,69,0.95);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);




}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 15px 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: rgba(64,255,223,0.95);
    font-weight: bold;
}
.home-photo{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;




}
.user-circle2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 8px 15px #0f4c45;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


}
.user-circle2:hover{
    box-shadow: 0 10px 10px 10px rgba(158,165,166,0.95);

}
.user-circle2 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.intro{
    width: 100%;
    max-width: 1200px;
    padding: 40px 30px ;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.intro-text {
    text-align: center;
    flex: 2;


}
.intro-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: rgba(15,76,69,0.95);
}

.intro-text p {
    font-size: 22px;
    color: rgba(49,54,55,0.95);
    line-height: 1.5;
    margin: 20px 0;
}


.intro-text h2 {
    font-size: 28px;
    color: rgba(15,76,69,0.95);
    margin-bottom: 10px;
}

.intro-text ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.intro-text ul li {
    font-size: 17px;
    color: rgba(49,54,55,0.95);

    margin: 10px 0;
}

.intro-text ul li a {
    text-decoration: none;
    color: rgba(64, 255, 223, 0.95);
    font-weight: 600;
    transition: color 0.3s ease;
}

.intro-text ul li a:hover {
    color: rgba(15, 76, 69, 0.95);
    font-weight: bold;
}

.footer-center p {
    font-size: 15px;
    font-weight: 600;
    margin: 0 20px;

}
.logBook {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logBook h1,
.logBook h2,
.logBook h3 {
    color: rgba(15, 76, 69, 0.95);
    text-align: center;
}

.logBook h1 {
    font-size: 40px;
    font-weight: 800;
}

.logBook h2 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
}

.logBook h3 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}


.logBook table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    font-size: 16px;
}

.logBook th,
.logBook td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.logBook th {
    background-color: rgba(15, 76, 69, 0.95);
    color: white;
    font-weight: 600;
}

.logBook td {
    background-color: #f9f9f9;
}

.logBook caption {
    font-style: italic;
    font-size: 14px;
    margin-top: 10px;
    color: rgba(49, 54, 55, 0.7);
}
.develop{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.develop h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #0f4c45;
    margin-top: 20px;
}
.develop h2{
    font-size: 32px;
    font-weight: 600;
    margin-top: 30px;
    color: #0f4c45;

}
.develop h3 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
    color: white;
    border-radius: 30px;
    background: #0f4c45;
    padding: 10px 20px ;
    box-shadow: 10px 5px 25px -10px #00000026;
    width: 100%;
}
.develop h3:hover {
    font-weight: 600;
    box-shadow: 10px 20px 25px -10px #333 ;

}

.develop p{
    font-size: 16px;
    line-height: 1.6;
    margin:5px 20px;
    color: #333;

}
.develop ul,
.develop ol {
    font-size: 16px;
    margin-left: 20px;
    color: #333;
}
.develop ul li
.develop ol li{
    margin-top: 10px;

}
.develop h4{
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    color: #0f4c45;
}

.project {
    background-color: white;
    margin-bottom: 40px;
    padding: 80px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.project-title {
    font-size: 25px;
    margin-bottom: 20px;
    color: #0f4c45;
}
.title{
    font-size: 40px;
    margin: 20px 50px;
    text-align: center;
    color: rgba(64,255,223,0.95);
    text-shadow: #0f4c45 0px 5px 0px ;


}
.project-image iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}
.project-cap {
    margin-top: 20px;
}
.project-cap h4{
    font-size: 20px;
    margin: 10px;
    display: inline-flex;
    border: 2px solid #0f4c45;
    border-radius: 50px;
    padding: 10px ;
    background: #0f4c45;
    color: white;

}
.project-cap i{
    padding: 5px;
}
.project-cap h4:hover{
    box-shadow: 10px 20px 25px -10px #00000026;
    border: 4px solid #0f4c45;
}
.project-cap p {
    font-size: 1.1em;
    color: #7f8c8d;
    line-height: 1.6;
}
.project-cap p:last-child {
    margin-bottom: 0;
}
.project-plan img {
    width: 50%;
    height: auto;
}
.project-plan img:hover{
    width: 100%;
    height: auto;

}
.reflection-container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.reflection-container h1{
    text-align: center;
    color: #0f4c45;
    padding-top: 0;
    padding-bottom: 30px;
}
.reflection h2 {
    color: #0f4c45;
    border-bottom: 2px solid #0f4c45;
    padding: 20px 5px;
    margin-bottom: 15px;
}
.reflection h2:hover{
    font-weight: 600;
    box-shadow: 10px 20px 40px -20px #4CAF50;
}
.reflection p {
    margin-bottom: 15px;
    padding: 10px;
}

.reflection ul {
    list-style-type: disc;
    margin-left: 20px;
}

.reflection ul li {
    margin-bottom: 10px;
}










